html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	background: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

.top {
  padding: 10px 20px 10px 10px;
  background: #999;
  text-align: right;
}
.name {
  list-style: none;
}
.name > li {
  display: inline-block;
}
.int, .inp {
  padding: 7px;
}
.int {
  border: 2px solid #cfcfcf;
}

#placeholder{
  position: relative;
  top: 20px;
  left: 20px;
}
.container {
  position: relative;
  top: 20px;
  left: 20px;
}
.submenu {
  list-style: none;
  text-align: left;
}
.submenu > li {
  display: inline-block;
}
.submenu > li a {
  text-decoration: none;
}

.person h3 {
  padding: 15px 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
}

.top .req:invalid {
  border: 2px solid red;
}
.top .req:valid {
  /*border: 2px solid blue;*/
}



.contact-people {
  position: relative;
  margin-bottom: 20px;
  min-height: 200px;
  padding: 10px;
}
.contact-people .contact-head {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 170px;
  padding: 0;
}
.contact-people .contact-content {
  margin-left: 170px;

}
